.contactsWrapper {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 1em;
    height: 100vh;
    overflow: scroll;

    .searchForm {
        input {
            margin-top: 0.3em;
            font-size: 0.75rem;
            padding: 0.3em 0.5em;
        }
    }

    .logout {
        position: absolute;
        top: 1%;
        right: 20%;
        padding: 0.3em;
        font-size: 0.7rem;

        button {
            margin-right: 0.3em;
        }
    }

    .contactsBlock {
        max-width: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;

        .contact {
            display: flex;
            justify-content: space-around;
            padding: 0.5em;
            background-color: var(--bg-color-medium);

            .name {
                width: 10em;
                padding: 0.5em;
                background-color: var(--bg-color-light);
                margin-right: 0.3em;
            }

            .city {
                width: 10em;
                padding: 0.5em;
                background-color: var(--bg-color-light);
                margin-right: 0.5em;
            }            

            .editButton {
                margin-right: 0.2em;
            }
            
        }
    }

    button {
        width: 10em; 
        font-size: 0.7rem;

        &:hover {
            cursor: pointer;
        }
     }

     .button {
         padding: 0.5em;
         text-transform: uppercase;
         margin-right: 0.2em;
     }

     .addContactForm {
         display: flex;
         margin-top: 0.5em;
         justify-content: end;
         align-items: center;
         
         label {
            margin-right: 0.5em;
         }

         .input {
             outline: none;
             margin-right: 0.3em;
             padding: 0.5em;
             font-size: 0.75rem;
         }

         button {
            width: 10em;
            padding: 0.5em; 
    
            &:hover {
                cursor: pointer;
            }
         }
     }
}
